---
import { Image } from '@astrojs/image/components';

import { user } from '../../SpotifyApi/store';

const u = user.get();


---


<div class="flex">
  <Image src={u?.images[0].url} alt="user"/>
</div>